{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-4 mb-3">Вход</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            Начало
        </li>
    </ol>

    <div class="row">
        <div class="col-lg-5 offset-3">
            <form action="{{ path('app.login.check') }}" method="post" class="g-py-15">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="mb-4">
                    <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">{{ 'username'|trans }}:</label>
                    <input name="_username" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="text" placeholder="{{ 'username'|trans }}">
                </div>

                <div class="g-mb-35">
                    <div class="row justify-content-between">
                        <div class="col align-self-center">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">{{ 'password'|trans }}:</label>
                        </div>
                    </div>
                    <input name="_password" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3" type="password" placeholder="{{ 'password'|trans }}">
                    <div class="row justify-content-between">
                        <div class="col-8 align-self-center">
                        </div>
                        <div class="col-4 align-self-center text-right">
                            <button class="btn btn-md u-btn-primary rounded g-py-13 g-px-25" type="submit">Вход</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
