{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">
            <h1 class="title">Снимки</h1>
            {% for item in photos %}
            <div class="thumb">
                <div style="display: flex;">
                <a href="{{ path('app.photo', {'uuid': item.item.uuid}) }}">
                    <img src="/media/{{ item.item.file }}" alt="" />
                </a>
                {% for mark in item.marks %}
                    <div class="rect passive-rect rect-type-{{ mark.element.id }}" style="display: block;top: {{ mark.position.top }}%; left: {{ mark.position.left }}%; width: {{ mark.position.width }}%; height: {{ mark.position.height }}%; border-color: {{ mark.element.color }}"></div>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>

    {#{% for photo in photos %}
        <a href="{{ path('app.photo', {'uuid': photo.uuid}) }}">Image</a>
    {% endfor %}#}
{% endblock %}
