{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">
            <h1 class="title">Снимки</h1>
            <div>
                <a class="button is-info"
                   href="{{ path('api.export.dataset-ml') }}">Вземи dataset за ML</a>
            </div>

            {% for item in photos %}
                <div class="thumb">
                    <div style="display: flex;">
                        <a href="{{ path('app.photo', {'uuid': item.item.uuid}) }}">
                            <img src="/media/{{ item.item.file }}" alt=""/>
                            {% for mark in item.marks %}
                                <div class="rect passive-rect rect-type-{{ mark.element.id }}"
                                     style="display: block;top: {{ mark.position.top }}%; left: {{ mark.position.left }}%; width: {{ mark.position.width }}%; height: {{ mark.position.height }}%; border-color: {{ mark.element.color }}"></div>
                            {% endfor %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
