{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-4 mb-3">Вход</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            Начало
        </li>
    </ol>

    <div class="row">
        <div class="col-lg-9">

            <div class="body-wrapper">


                <div class="photo-wrapper">

                    <img src="/media/{{ photo.file.filename }}"
                         onclick="console.log(photo)"
                         onmousedown="photo.onMouseDown(event, this)"
                         ondrag="photo.onDrag(event, this)"
                         ondragend="photo.onMouseUp(event, this)"
                         onload="photo.onLoad()"
                         alt="" />

                    <div class="rect active-rect"></div>

                    <div style=" clear: both;"></div>
                </div>


            </div>

        </div>
        <div class="col-lg-3">
            {{ form_start(form, {'attr': {'class': 'g-py-15 add-item-form'}}) }}
            <input type="text" name="coordinates" value="" />
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Състояние</label>
                <div class="col-sm-8">
                    {{ form_widget(form.condition, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Елемент</label>
                <div class="col-sm-8">
                    {{ form_widget(form.element, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8 offset-4">
                    <button type="submit" class="btn btn-primary">Вход</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
