{% extends 'base.html.twig' %}

{% block body %}

    <div class="body-wrapper">
        <div class="photo-panel">
            <div class="photo-panel-position-wrapper">
                <div class="photo-wrapper">
                    <img src="/media/{{ photo.file }}"
                         onmousedown="photoCtrl.onMouseDown(event, this)"
                         ondrag="photoCtrl.onDrag(event, this)"
                         ondragend="photoCtrl.onMouseUp(event, this)"
                         onload="photoCtrl.onLoad()"
                         alt="" />

                    {% for mark in marks %}
                    <div class="rect passive-rect rect-type-{{ mark.element.id }}" style="top: {{ mark.position.top }}%; left: {{ mark.position.left }}%; width: {{ mark.position.width }}%; height: {{ mark.position.height }}%; border-color: {{ mark.element.color }}"></div>
                    {% endfor %}

                    <div class="rect active-rect"></div>
                </div>
            </div>

        </div>
        <div class="action-panel">

            {{ form_start(form, {'attr': {'class': 'g-py-15 add-item-form', 'novalidate': 'novalidate'}}) }}

            {{ form_widget(form.coordinates, {'id': 'coordinates', 'attr': { 'hidden': 'hidden'}}) }}

            <div class="itemType">
                <label class="label">Тип на обекта</label>
                <div class="control">
                    <div class="select">
                        {{ form_widget(form.element, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="itemCondition">
                <label class="label">Състояние</label>
                <div class="control">
                    <div class="select">
                        {{ form_widget(form.condition, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <a class="button is-warning mtb10"
               id="submit-button"
               onclick="photoCtrl.addItem()"
               disabled>Добави</a>
            <a class="button is-light mtb10"
               id="clear-button"
               style="display: none"
               onclick="photoCtrl.clearSelection()">Изчисти</a>

            {{ form_end(form) }}

            <hr />

            <aside class="menu items">
                <p class="menu-label">
                    Отбелязани обекти
                </p>

                <ul class="menu-list">
                    {% for element in markedElements %}
                        <li id="item-{{ element.id }}"
                            onmouseover="rectCtrl.showPassiveRects({{ element.id }})"
                            onmouseleave="rectCtrl.hidePassiveRects({{ element.id }})">
                            <a>
                                {{ element.name }}
                                <span class="tag is-light"> {{ element.count }} </span>
                                <span class="tag item-color-mark" style="color: {{ element.color }}">&bull;</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <a class="button is-text"
                   onmouseover="rectCtrl.showAllPassiveRects()"
                   onmouseleave="rectCtrl.hideAllPassiveRects()">Покажи всички</a>

            </aside>
        </div>
    </div>

{% endblock %}
