{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">
            <h1 class="title">Търсене</h1>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'search-form'}}) }}

                <div class="columns">
                    <div class="column is-one-quarter">
                        <div class="itemType">
                            <label class="label">Тип на обекта</label>
                            <div class="control has-icons-left">
                                <div class="select">
                                    {{ form_widget(form.element) }}
                                </div>
                                <span class="icon is-small is-left"><i class="fas fa-building"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="itemCondition">
                            <label class="label">Състояние</label>
                            <div class="control has-icons-left">
                                <div class="select">
                                    {{ form_widget(form.condition) }}
                                </div>
                                <span class="icon is-small is-left"><i class="fas fa-building"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="field">
                            <label class="label">Минимален брой елементи</label>
                            <p class="control has-icons-left has-icons-right">
                                {{ form_widget(form.count, {'attr': {'placeholder': 'Минимален брой', 'class': 'input', 'type': 'nnumber'}}) }}
                                <span class="icon is-small is-left"><i class="fas fa-sort-numeric-up"></i></span>
                            </p>
                        </div>
                    </div>
                </div>

                <a class="button is-warning mtb10"
                   id="submit-button"
                   onclick="searchCtrl.search()">Търси</a>

            {{ form_end(form) }}
        </div>
    </div>



    <div class="container">

        <div style="width: 500px;">
            {% if submitted and result is empty %}
                <div class="notification mlr20">
                    Няма намерени резултати
                </div>
            {% endif %}

            {% for item in result %}
                <div style="position:relative;">
                    <a href="{{ path('app.photo', {'uuid': item.item.uuid}) }}"><img src="/media/{{ item.item.file }}" alt="" /></a>

                    {% for mark in item.marks %}
                        <div class="rect passive-rect rect-type-{{ mark.element.id }}" style="display: block;top: {{ mark.position.top }}%; left: {{ mark.position.left }}%; width: {{ mark.position.width }}%; height: {{ mark.position.height }}%; border-color: {{ mark.element.color }}"></div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
