<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Архитектурното наследство ?</title>
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">


    <script src="{{ asset('plugins/sel/photo.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="/assets/plugins/sel/style.css">
    {#<script src="/assets/vendor/jquery/jquery.min.js"></script>#}

    <script src="/assets/plugins/sel/underscore-1.9.1.min.js"></script>
    <script src="/assets/plugins/sel/photo.js"></script>
    <!--<script src="rect.js"></script>-->
    <script src="/assets/plugins/sel/itemsList.js"></script>
    <script src="/assets/plugins/sel/app.js"></script>

</head>

<body>

{% include 'partial/header.html.twig' %}
<div class="container">
    {% block body %}{% endblock %}
</div>
{% include 'partial/footer.html.twig' %}

<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>