<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div style="margin-top: 4px;position: absolute;">
            <a href="{{ path('app.index') }}"><img src="{{ asset('images/logo.png') }}" style="height: 45px;" /></a>
        </div>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">

                <a class="button is-info mlr10" href="{{ path('app.search') }}">
                      <span class="icon is-small">
                          <i class="fas fa-search"></i>
                        </span>
                    <strong>Търси</strong>
                </a>

                <a class="button is-info mlr10" href="{{ path('app.charts') }}">
                      <span class="icon is-small">
                          <i class="fas fa-chart-pie"></i>
                        </span>
                    <strong>Анализ</strong>
                </a>


                <a class="button is-info mlr10" href="{{ path('app.map') }}">
                      <span class="icon is-small">
                          <i class="fas fa-map-marked-alt"></i>
                        </span>
                    <strong>Карта</strong>
                </a>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="button is-warning mlr10" href="{{ path('app.upload') }}">
                        <span class="icon is-small">
                          <i class="fas fa-upload"></i>
                        </span>
                        <strong>Качи снимка</strong>
                    </a>

                    <a class="button is-info mlr10" href="{{ path('logout') }}">
                        <strong>Изход</strong>
                    </a>
                {% else %}
                    <a class="button is-info mlr10" href="{{ path('app.sign-up') }}">
                        <strong>Регистрация</strong>
                    </a>
                    <a class="button is-warning mlr10" href="{{ path('app.sign-in') }}">Вход</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>