<nav class="navbar is-info p-0" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

            <a class="text-white" style="text-decoration: none;" href="{{ path('app.index') }}">ArcNas{#<img src="{{ asset('images/logo.png') }}" style="height: 45px;" />#}</a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-info mlr10" href="{{ path('app.index') }}">
                      <span class="icon is-small">
                          <i class="fas fa-map-marked-alt"></i>
                        </span>
                    <strong>Карта</strong>
                </a>

                <a class="button is-info mlr10" href="{{ path('app.photos') }}">
                      <span class="icon is-small">
                          <i class="fas fa-camera"></i>
                        </span>
                    <strong>Снимки</strong>
                </a>

                {#<a class="button is-info mlr10" href="{{ path('app.charts') }}">
                      <span class="icon is-small">
                          <i class="fas fa-chart-pie"></i>
                        </span>
                    <strong>Анализ</strong>
                </a>#}

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="button is-warning mlr10" href="{{ path('app.upload') }}">
                        <span class="icon is-small">
                          <i class="fas fa-upload"></i>
                        </span>
                        <strong>Качи снимка</strong>
                    </a>

                    <a class="button is-info mlr10" href="{{ path('app.attributes.index') }}">
                        <span class="icon is-small">
                          <i class="fas fa-tags"></i>
                        </span>
                        <strong>Атрибути</strong>
                    </a>

                    <a class="button is-info mlr10" href="{{ path('logout') }}">
                        <strong>Изход</strong>
                    </a>
                {% else %}
                    <a class="button is-info mlr10" href="{{ path('app.sign-up') }}">
                        <strong>Регистрация</strong>
                    </a>
                    <a class="button is-warning mlr10" href="{{ path('app.sign-in') }}">Вход</a>
                {% endif %}

                <a class="button is-info mlr10" href="{{ path('app.map') }}">
                      <span class="icon is-small">
                          <i class="fas fa-cube"></i>
                        </span>
                    <strong>3D Карта</strong>
                </a>
            </div>
        </div>
    </div>
</nav>